 .main-button{
    width: 150px;
    height: 50px;
    background-color: rgb(83, 83, 251);
    color: #fff;
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 6px;
} 

.main-button:hover{
    background-color: rgb(1, 1, 246);
}