body{
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 200px;
    border: solid 5px black;
    border-radius: 50px;
}

.button-dislike{
    margin: 10px;
    display: flex;
    align-items: center;
}

.button-likes{
    margin: 10px;
    display: flex;
    align-items: center;
}

.counter-dislikes{
    font-size: 24px;
    color: red;
}

.counter-likes{
    font-size: 24px;
    color: green;
}

